<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>books</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
   <servlet>
    <servlet-name>XFireServlet</servlet-name>
    <servlet-class>org.codehaus.xfire.transport.http.XFireConfigurableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XFireServlet</servlet-name>
    <url-pattern>/servlet/XFireServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XFireServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>bookservlet</servlet-name>
    <servlet-class>com.deitel.advjhtp1.store.BookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookservlet</servlet-name>
    <url-pattern>/displayBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addToCartServlet</servlet-name>
    <servlet-class>com.deitel.advjhtp1.store.AddToCartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Function is MyJsp.jsp</description>
    <display-name>Show Date info</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>cn.jhc.ch02.HelloServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>Process POST</display-name>
    <servlet-name>Authenticate</servlet-name>
    <servlet-class>cn.jhc.ch02.Authenticate</servlet-class>
  </servlet>
  <servlet>
    <display-name>Process POST</display-name>
    <servlet-name>Counter</servlet-name>
    <servlet-class>cn.jhc.ch03.Counter</servlet-class>
  </servlet>
  <servlet>
    <display-name>Process POST</display-name>
    <servlet-name>AddBookToCart</servlet-name>
    <servlet-class>cn.jhc.ch04.AddBookToCart</servlet-class>
  </servlet>
  <servlet>
    <display-name>Process POST</display-name>
    <servlet-name>AddBookToCart2</servlet-name>
    <servlet-class>cn.jhc.ch05.AddBookToCart</servlet-class>
  </servlet>
  <servlet>
    <display-name>Process POST</display-name>
    <servlet-name>AddBookToCart3</servlet-name>
    <servlet-class>cn.jhc.ch08.AddBookToCart</servlet-class>
  </servlet>
  <servlet>
    <display-name>Process POST</display-name>
    <servlet-name>AddBookToCart4</servlet-name>
    <servlet-class>cn.jhc.ch09.AddBookToCart</servlet-class>
  </servlet>
  <servlet>
    <display-name>Process LOGIN</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>cn.jhc.ch05.Register</servlet-class>
  </servlet>
  <servlet>
    <display-name>Process LOGIN</display-name>
    <servlet-name>ProcessOrder</servlet-name>
    <servlet-class>cn.jhc.ch05.ProcessOrder</servlet-class>
  </servlet>
  <servlet>
    <display-name>Process LOGIN</display-name>
    <servlet-name>ProcessOrder2</servlet-name>
    <servlet-class>cn.jhc.ch09.ProcessOrder</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddBookToCart0</servlet-name>
    <servlet-class>com.servlet.AddBookToCart</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>addToCartServlet</servlet-name>
    <url-pattern>/addToCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>

  
  <servlet-mapping>
    <servlet-name>Authenticate</servlet-name>
    <url-pattern>/servlet/authen</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Counter</servlet-name>
    <url-pattern>/servlet/Counter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBookToCart</servlet-name>
    <url-pattern>/AddBookToCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBookToCart2</servlet-name>
    <url-pattern>/AddBookToCart2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProcessOrder</servlet-name>
    <url-pattern>/ch05/processorder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProcessOrder2</servlet-name>
    <url-pattern>/ch09/processorder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBookToCart3</servlet-name>
    <url-pattern>/AddBookToCart3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBookToCart4</servlet-name>
    <url-pattern>/AddBookToCart4</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBookToCart0</servlet-name>
    <url-pattern>/AddBookToCart0</url-pattern>
  </servlet-mapping>
</web-app>