/*配置LoginModule的权限*/
grant {
	permission javax.security.auth.AuthPermission "modifyPrincipals";
};

/*配置客户端的权限*/
grant  {
	permission javax.security.auth.AuthPermission "createLoginContext.*";
	permission javax.security.auth.AuthPermission "doAsPrivileged";
};