body {
	background-position: center 50%; scrollbar-face-color: #ffffff; font-size: 12px; background-image: url(images/bodybg.gif); margin: 0px; scrollbar-highlight-color: #61788f; scrollbar-shadow-color: #61788f; scrollbar-3dlight-color: #ffffff; line-height: 120%; scrollbar-arrow-color: #61788f; scrollbar-track-color: #ffffff; font-family: "arial", "helvetica", "sans-serif","ËÎÌו"; SCROLLBAR-DARKSHADOW-COLOR: #ffffff; BACKGROUND-COLOR: #3399cc
}
a {
	color: #000000; text-decoration: none
}
a:hover {
	color: #ff0000; text-decoration: underline
}
a.blue {
	color: #0000ff; text-decoration: none
}
.nodis {
	display: none
}
table {
	text-justify: inter-ideograph; font-size: 12px; line-height: 20px; border-collapse: collapse; text-align: left
}
.center {
	text-align: center
}
.left {
	text-align: left
}
.right {
	text-align: right
}
.p8 {
	font-size: 8px; line-height: 120%
}
.p10 {
	font-size: 10px; line-height: 120%
}
.p12 {
	font-size: 12px; line-height: 120%
}
.p14 {
	font-size: 14px; line-height: 120%
}
.p16 {
	font-size: 16px; line-height: 120%
}
.p18 {
	font-size: 18px; line-height: 120%
}
.p24 {
	font-size: 24px; line-height: 120%
}
.brown {
	color: #990000
}
.red {
	color: #ff0000; line-height: 120%
}
.red2 {
	color: #ff6600
}
.red2_weight {
	font-weight: bold; color: #ff6600
}
.red_12 {
	font-size: 12px; color: #ff0000; line-height: 120%
}
.red_16 {
	font-size: 16px; color: #ff0000; line-height: 120%
}
.red_18 {
	font-size: 18px; color: #ff0000; line-height: 120%
}
.blue {
	color: #0000ff
}
.h20 {
	line-height: 20px
}
.h25 {
	line-height: 25px
}
.font-weight {
	font-weight: bold
}
.font-weight_14 {
	font-weight: bold; font-size: 14px
}
.font-weight_16 {
	font-weight: bold; font-size: 16px
}
.input01 {
	border-right: #49633b 1px solid; border-top: #49633b 1px solid; font-size: 12px; border-left: #49633b 1px solid; color: #49633b; border-bottom: #49633b 1px solid; height: 16px; background-color: #ffffff
}
.imput02 {
	border-top-style: none; border-bottom: #000000 1px dashed; border-right-style: none; border-left-style: none; height: 20px; text-decoration: none
}
.lefttd {
	border-right: 1px solid; border-top-style: none; border-left-style: none; border-bottom-style: none
}
.border {
	border-right: #cccecd 1px solid; border-top: #cccecd 1px solid; border-left: #cccecd 1px solid; border-bottom: #cccecd 1px solid
}
